@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');


body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: #EBF4F6;
  color: black;
}

h1 {
  color: #088395;
}

.signature {
  font-family: "Great Vibes", cursive;
}

.cursor-highlight {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #37B7C3;
  z-index: 1;
  /* Example highlight background */
  border-radius: 50%;
  /* Make it a circle */
  pointer-events: none;
  /* Make sure the div doesn't capture mouse events */
  transform: translate(-50%, -50%);
  /* Center the highlight under the cursor */
  display: none;
  /* Initially hidden */
  filter: blur(150px);
}


@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .section {
    padding: 20px;
  }

  .section h1 {
    font-weight: 500;
    font-size: 26px;
  }
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-3px);
  }

  60% {
    transform: translateY(6px);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s;
}